.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.fabPosition {
    position: fixed;
    bottom: 60px;
    right: 60px;
    color: white;
}