<mat-card>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput type:search placeholder="Αναζητηση....." #box (keyup.enter)="onEnter(box.value)">

        </mat-form-field>
        <mat-slide-toggle (change)="onSearchModeClick($event)">{{searchMode}}</mat-slide-toggle>
    </form>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Φιλτρα Αναζητησης
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Age">
        </mat-form-field>
    </mat-expansion-panel>
</mat-card>
<span class="fabPosition">
    <ngc-float-button icon="add">
        <ngc-float-item-button icon="home" content="Ακίνητο" (click)="addProperty()"></ngc-float-item-button>
        <ngc-float-item-button icon="location_city" content="Επαγγελματικό" (click)="addCommercial()"></ngc-float-item-button>
        <ngc-float-item-button icon="terrain" content="Γή"(click)="addLand()"></ngc-float-item-button>
        <ngc-float-item-button icon="satellite" content="Άλλο"(click)="addOther()"></ngc-float-item-button>
    </ngc-float-button>
  </span>

<app-involved-party-list *ngIf="involvedparties != null" [ipList]="involvedparties"></app-involved-party-list>

<app-realty-property-list *ngIf="realesateproeprties != null" [rpList]="realesateproeprties"></app-realty-property-list>