<div fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="10px">

    <form>
        <mat-form-field>
            <input matInput type:search placeholder="Αναζητηση....." #box (keyup.enter)="onEnter(box.value)">
        </mat-form-field>
    </form>
</div>

<mat-card>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Φιλτρα Αναζητησης
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Age">
        </mat-form-field>
    </mat-expansion-panel>
</mat-card>

<app-realty-property-list *ngIf="realesateproeprties != null" [rpList]="realesateproeprties"></app-realty-property-list>