<mat-list-item>
    <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
                  <mat-icon>business</mat-icon>
                  <span>Ακίνητα</span>
                </button>
        <button mat-menu-item>
                  <mat-icon>shopping_basket</mat-icon>
                  <span>Ζητήσεις</span>
                </button>
        <button mat-menu-item>
                  <mat-icon>mode_edit</mat-icon>
                  <span>Edit</span>
                </button>
    </mat-menu>
    <img matListAvatar src="../../assets/img/person.png" alt="...">
    <h2 matLine class="mat-h2">{{people.FirstName}} {{people.LastName}} </h2>
    <p matLine>
        <mat-icon class="material-icons md-16">phone</mat-icon> <span> {{people.Mobile}} </span>
    </p>
    <p matLine color="primary">
        <span>  {{people.InvolvedPartyType | involvedPartyType}}  </span>
    </p>
    <p matLine>
        <span *ngIf="people.InvolvedPartyType === 5"> --  {{people.Demands.length}} </span>
    </p>
</mat-list-item>
<mat-divider></mat-divider>